.friendCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
}

img {
  margin: 0 auto;
}

.friendName {
  font-size: 24px;
  font-weight: 500;
}

.friendStatus {
  font-size: 20px;
  font-weight: 400;
}

.online {
  color: green;
}

.offline {
  color: red;
}